@import "tailwindcss";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* 💠 Primary & Secondary Theme Colors */
  --primary: #3cd3e1;

  --secondary: #3cd3e1;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@theme inline {
  --color-primary: #3cd3e1;
  --color-secondary: #3cd3e1;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Pretendard Variable", sans-serif;
}
.rect {
  @apply rounded border border-[#C7C7CC] focus:border-[#3CD3E1] focus:ring-1 focus:ring-primary  focus:outline-none;
}
.rect-pet {
  @apply rounded-lg border border-[#E5E5EA]  focus:outline-none focus:ring-1 focus:ring-primary px-4 py-3 placeholder:text-[#C7C7CC];
}

/* 🚫 Removed dark mode media query to avoid override */
